/* fonts */

@import url('https://fonts.googleapis.com/css2?family=Luxurious+Roman&family=Poppins:ital,wght@0,500;1,600&display=swap');

/*-- common styles --*/

main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*-- header style --*/

.header-title{
    font-family: 'Poppins', sans-serif;
}
.top-part{
    display: flex;
    flex-direction: row;
    align-items: center;

}
.menu-bar{
    float: right;
}
.menu-bar a{
    text-decoration: none;
    margin-left: 10px;
    color: black;
}

/*-- journey area style --*/

.journey-part{
    display: flex;
}
.journey-title h1{
    font-size: 52px;
    font-weight: 700;
}
.journey-title p{
    font-size: 16px;
}
.banner img{
    margin-left: 36px;
}
.journey-part-button a{
    text-decoration: none;
    font-size: 16px;
    color: white;
}
.journey-part-button{
    padding: 10px 40px;
    background-color: #E02C6D;
    border-radius: 7px;
}
.fa-arrow-right{
    margin-left: 5px;
}

/*-- complany logo styles --*/

.all-company-logos{
    display: flex;
}
.company-logo{
    padding-left: 50px;
    padding-top: 10px;
}