/* fonts */

@import url('https://fonts.googleapis.com/css2?family=Luxurious+Roman&family=Poppins:ital,wght@0,500;1,600&display=swap');

/*-- common styles --*/

body{
    font-family: 'Poppins', sans-serif;
    background-color: #FFFFFF;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*-- header style --*/

.header-title{
    font-family: 'Poppins', sans-serif;
}
.top-part{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 15px;
}
.menu-bar{
    margin-left: auto;
    padding-left: 50px;
}
.menu-bar a{
    text-decoration: none;
    margin-left: 10px;
    color: black;
}

/*-- journey area style --*/

.journey-part{
    display: flex;
}
.journey-title h1{
    font-size: 52px;
    font-weight: 700;
    margin-bottom: 5px;
}
.journey-title p{
    font-size: 16px;
    margin-left: auto;
    margin-top: 0px;
    margin-bottom: 20px;
}
.banner img{
    margin-left: 36px;
}
.journey-title a{
    text-decoration: none;
    font-size: 16px;
    color: white;
}
.journey-area-button{
    padding: 10px 40px;
    background-color: #E02C6D;
    border-radius: 40px;
    border: none;
}
.fa-arrow-right{
    margin-left: 5px;
}

/*-- company logo styles --*/

.all-company-logos{
    display: flex;
    justify-content: center;
    align-items: center;
}
.company-logo{
    padding-left: 50px;
    padding-top: 10px;
}
#first-child{
    padding-left: 0px;
}

/*-- popular collection styles --*/

.items{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 10px;
    column-gap: 10px;
}
.item{
    height: 500px;
    width: 330px;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
}
.item, h4, h6, img, p{
    margin-left: 4.5%;
    margin-top: 4.5%;
}
.item img{
    margin-bottom: 1%;
}
.rating{
    margin-top: 1%;
    padding-left: 15px;
    color: #FB8200;
}
#black{
    color: black;
}
.item h4, h6{
    margin-bottom: 1%;
}
.item h4{
    font-size: 28px;
}
.item h6{
    font-size: 24px;
    font-weight: 400;
}
.popular-collection-button{
    float: right;
    margin-top: 35px;
}
.popular-collection-button a{
    text-decoration: none;
    color: #E02C6D;
}

 /*-- featured products area styles --*/

.featured-product-section {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 60px;
}

.featured-product-section img {
  margin-right: 10px;
}
.featured-texts {
  width: 40%;
}
.featured-texts p {
  color: black !important;
  margin: 0 !important;
  padding: 0 !important;
}
.featured-texts a {
  text-decoration: none;
  background-color: #ff0054;
  padding: 10px 20px;
  border-radius: 5px;
  display: inline-block;
  margin-top: 40px !important;
  color: white;
}
/*-- footer styles --*/

footer {
  width: 100%;
  height: 239px;
  background-color: #0a0826;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}
.footer {
  display: flex;
  flex-direction: column;
  color: white;
  text-align: center;
}
.footer p {
  margin: 0 !important;
  padding: 0 !important;
}
.social-network-links {
  margin-top: 20px;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}